.home-project .project {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  place-items: center;
  gap: 2rem;
}
.home-project .project__title {
  margin-top: 4rem;
  text-align: center;
  width: 90%;
  min-height: 100px;
  height: 100%;
  display: grid;
  place-items: center;
  box-shadow: 0 0 2vw var(--theme-color), inset 0 0 2vw var(--theme-color),
    0 0 4vw var(--theme-color), inset 0 0 4vw var(--theme-color),
    0 0 6vw var(--theme-color), inset 0 0 6vw var(--theme-color),
    0 0 8vw var(--theme-color), inset 0 0 8vw var(--theme-color);
  animation: borderRadius 2s ease-in-out infinite;
}
@keyframes borderRadius {
  0%,100% {
    border-radius: 40% 20% 20% 40%;
  }
  50% {
    border-radius: 20% 50% 50% 20%;
  }
}
@media screen and (max-width: 1200px) {
  .home-project .project {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
}
@media screen and (max-width: 768px) {
  .home-project .project {
    grid-template-columns: 1fr;
  }
}
